.container{
    border-radius: 15px;
    background-color:#6fdcba;    display: flex;
    justify-content: end;
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    border: solid black 10px;
}

img{width: 50%;

}

h1{
    font-style: normal arial 20px;
    text-align: center;
}

form{background: white;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    border: solid #63259c;
}

input{
   
    border-color: #63259c;
    border-radius: 8px;
    margin-bottom: 10px;   
}
footer{
    text-align: center;
}